<template>
  <div class="main">
    <carl></carl>
    <Search></Search>
    <GoodsBox v-for="item in data" :goodsList="item"></GoodsBox>
  </div>
</template>

<script>
  import Carl from '@/components/Carousel'
  import Search from '@/components/Search'
  import GoodsBox from '@/components/GoodsBox'


  export default {
    name: 'carousel',
    data() {
      return {
        data: [
          {
            titleName: '新品上市',
            type: 'newGoods',
            goods: [
              {id: '0001', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00},
              {id: '0002', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00},
              {id: '0003', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00},
              {id: '0004', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00}
            ]
          },
          {
            titleName: '镇店之宝',
            type: 'treasureGoods',
            goods: [
              {id: '0001', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00},
              {id: '0002', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00},
              {id: '0003', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00},
              {id: '0004', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00}
            ]
          }
        ],
        computed: {

        }
      }

    },
    components: {
      Carl,
      Search,
      GoodsBox
    }
  }
</script>

<style scoped>
  .main {
    width: 100%;
    margin-bottom: 50px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
