<template>
  <div class="navigate">
    <div class="nav" v-for="(item, index) in navData" @click="changeTab(item.name, item.type)">
      <img class="icon" :src="item.icon" alt="">
      <div class="title">{{item.title}}</div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'carousel',
    data() {
      return {
        data: [
          {
            titleName: '新品上市',
            type: 'newGoods',
            goods: [
              {id: '0001', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00},
              {id: '0002', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00},
              {id: '0003', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00},
              {id: '0004', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00}
            ]
          },
          {
            titleName: '镇店之宝',
            type: 'treasureGoods',
            goods: [
              {id: '0001', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00},
              {id: '0002', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00},
              {id: '0003', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00},
              {id: '0004', img: 'http://pic.7edown.com/pic/ico/2017291719572069.jpg', price: 1.00}
            ]
          }
        ],
        navData: [
          {title: '首页', icon: '../static/index.png', name: 'main', type: 'index'},
          {title: '精选', icon: '../static/choice.png', name: 'choice', type: 'choice'},
          {title: '购物车', icon: '../static/cart-empty.png', name: 'cart', type: 'cart'},
          {title: '我的', icon: '../static/mine.png', name: 'mine', type: 'mine'}

        ]

      }

    },
    methods: {
      changeTab(name, type) {
<<<<<<< HEAD
        console.log('test1');
=======
        console.log(name)
>>>>>>> 4353b2822cd6c416be6dbd1fec351aaceb30fca6
        this.$router.push({name: name, params: {type: type}})
      }
    },
    components: {}
  }
</script>

<style scoped>
  .navigate {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    background-color: #fff;
  }

  .nav {
    height: 100%;
    padding: 0 15px;
    position: relative;
    flex-grow: 1;
  }

  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 30px;
  }

  .icon img {
    width: 100%;
    height: 100%;
  }

  .title {
    width: 30px;
    font-size: 14px;
    position: absolute;
    top: 14px;
    left: 25px;
  }
</style>
