<template>
  <div class="search">
    <!--<label for="top-search"></label>-->
    <!--<input type="text" id="top-search" placeholder="搜索商品">-->
    <div id="top-search">搜索商品</div>
  </div>
</template>

<script>
  export default {
    name: 'top-search',
    data() {
      return {}
    }
  }
</script>

<style scoped>
  .search {
    width: 100%;
    height: 36px;
  }

  #top-search {
    width: 345px;
    height: 100%;
    padding-left: 30px;
    line-height: 36px;
    text-align: left;
    font-size: 16px;
    color: #c0c0c0;
  }
</style>
