<template>
  <swiper :options="swiperOption" ref="mySwiper">
    <swiper-slide v-for="item in data">{{item.num}}<img :src="item.url" alt=""></swiper-slide>

    <div class="swiper-pagination"  slot="pagination"></div>
    <!--<div class="swiper-scrollbar"   slot="scrollbar"></div>-->
  </swiper>
</template>

<script>

  // import 'swiper/dist/css/swiper.css'


  export default {
    name: 'carrousel',
    data() {
      return {
        swiperOption: {
          autoplay: true,
          loop: true
        },
        data: [
          {num: 1, url: 'http://img1.3lian.com/img013/v4/96/d/41.jpg'},
          {num: 2, url: 'http://img1.3lian.com/img013/v4/96/d/41.jpg'},
          {num: 3, url: 'http://img1.3lian.com/img013/v4/96/d/41.jpg'},
          {num: 4, url: 'http://img1.3lian.com/img013/v4/96/d/41.jpg'}
        ]
      }
    },
    computed: {
      swiper() {
        // return this.$refs.mySwiper.swiper
      }
    },
    mounted() {
      // current swiper instance
      // 然后你就可以使用当前上下文内的swiper对象去做你想做的事了
      console.log('this is current swiper instance object', this.swiper)
      // this.swiper.slideTo(3, 1000, false)
    }
  }
</script>

<style scoped>
  .swiper-slide{
    height: 180px;
  }
  .swiper-slide img{
    height: 100%;
    width: 100%;
  }
</style>
